/*
Version: 3.5.1 Timestamp: Tue Jul 22 18:58:56 EDT 2014
*/

.due-limit{
        font-size : 15px;
        padding-left : 20px;
        height : 50px;
        font-weight : bold;
        padding-top : 15px;
        background : white;

}
